.recommend-body {
  /* border: 1px solid black; */
  /* width:40%; */
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.recommend-header {
  /* border: 1px solid black; */
  position: relative;
  /* left:2rem; */
  margin: 2rem 0 0 1rem;
}

.recommend-headerUp {
  height: auto;
  margin: 0 0 0 1rem;
}

.recommend-headerDown {
  display: flex;
  flex-direction: column;
}
.recommend-text {
  font-family: "NanumSquareNeoBold";
  margin-top: 1rem;
  margin-left: 2.5rem;
  line-height: 3rem;
  font-size: 2.4rem;
  font-weight: bold;
}

.mainPage {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
  /* margin-top: 3rem; */
  height: 70vh;
}

.notebok-recommend-image {
  width: 70%;
  height: 20rem;
  object-fit: contain;
}

.mainSlidePage {
  border: 1px solid #ececec;
  width: 100%;
  height: 70%;
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.progressBar {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.circle {
  border: 1px solid white;
  width: 0.6rem;
  height: 0.6rem;
  margin: 0.2rem;
  border-radius: 100%;
  background-color: #c4c4c4;
}

.light {
  background-color: #74da50;
}
.imageTextWrapper {
  font-family: "NanumSquareNeoRegular";
  font-size: 1.3rem;
}

.loading-bar-container {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-bar-text {
  margin-top: 0.1rem;
  font-family: "NanumSquareNeoRegular";
  font-size: 1.2rem;
  color: #74da50;
}

.similiality-text {
  font-family: "NanumSquareNeoRegular";
  font-size: 1rem;
  color: #74da50;
  position: relative;
  top: 20px;
}
