.order {
  padding-left: 20%;
  padding-right: 20%;
  /* fotter 하단 고정 */
  height: auto;
  min-height: 100%;
  padding-bottom: 1vh;
  margin-top: 1.5rem;
}
@media screen and (min-width: 1224px) {
  .order {
    padding-left: 30% !important;
    padding-right: 30% !important;
  }
}

/* 1000보다이하 */
@media screen and (max-width: 1224px) {
  .order {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
}

.order_user-info .order_user-name_and_phone,
.order_user-address {
  margin-left: 0.313rem;
  line-height: 29px;
  color: #0c0c0c;
}

.order_user-info {
  margin-bottom: 24px;
}

.order_user-info > span {
  font-size: 14px;
  color: #4a4a4a;
  /* margin-bottom: 22px; */
}

.order_user-name_and_phone {
  display: flex;
  font-size: 12px;
  margin-top: 22px;
}

.order_user-name_and_phone > span {
  font-family: "NanumSquareNeoLight";
  font-size: 0.8rem;
  width: 20%;
  /* justify-content: space-around; */
}

.order_user-name {
  font-family: "NanumSquareNeoLight";
  font-size: 0.8rem;
  margin-left: 1.25rem;
}

.order_user-address {
  font-size: 12px;
  display: flex;
}

.order-divider {
  width: 111%;
  margin-left: -6%;
  background-color: #f5f5f5;
  height: 7px;
}

.order_user-address > span {
  font-family: "NanumSquareNeoLight";
  font-size: 0.8rem;
  text-align: right;
  width: 20%;
  text-align: left;
}

.order_user-address-detail {
  font-family: "NanumSquareNeoLight";
  font-size: 0.8rem;
  line-height: 1.3rem;
  margin-left: 1.25rem;
}

.order-person-style {
  font-family: "NanumSquareNeoLight";
  font-size: 1rem !important;
}
